.categories-filter {
  font-size: 14px;
}

.search-bar {
  width: 50vw;
  height: 42px;
}

.navLinks a {
  color : white;
  text-decoration:  none;
}

.navLinks hover {
  color : #eb3323;
  text-decoration:  none;
}

.navLinksOn a {
  color : #eb3323;
  text-decoration:  none;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}
