body {
  font-family: 'Montserrat', sans-serif;
}

.categories-filter {
  font-size: 14px;
}

.search-bar {
  width: 50vw;
  height: 42px;
}

.navLinks a {
  color : white;
  text-decoration:  none;
}

.navLinks hover {
  color : #f70000;
  text-decoration:  none;
}

.navLinksOn a {
  color : #f70000;
  text-decoration:  none;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

.directorName a {
  color : #424242;
  text-decoration: none;
}

.directorName hover {
  color : #f70000;
  text-decoration: none;
}

.directorLinks a {
  color : #424242;
}

.directorLinks hover {
  color : #424242;
  text-decoration: none;
}

.leftSingleDropdownList {
  margin-top: 15px;
}

.pictosLinks a {
  color : #424242;
}

.directorDataList li {
  margin-bottom : 10px;
}
